.swiper {
  width: 100%;
  /* padding: 0 16px; */
  box-sizing: border-box;
}


.swiper-container {
    width: 100%;
    height: auto;
    overflow: visible;
    
  }
  .swiper-slide.card {
    width: 320px !important;
    height: 420px !important;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    transition: height 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 10px 30px rgba(55, 48, 66, 0.2);
    position: relative;
    overflow: hidden;
  }
  
  
  
  /* @media (max-width: 767px) {
    .swiper-slide.card {
      width: 100% !important; /* показываем 1 карточку */
      /* max-width: 100% !important;
    }
  } */ 
  


  
  .swiper-slide.card:hover {
    height: 450px !important;
    box-shadow: 0px 15px 50px rgba(79, 61, 161, 0.5);
  }
  
  
  
  /* Кнопка "more" скрыта по умолчанию */
  .slide-more {
    color: rgba(117, 87, 255, 1);
    font-size: 18px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  .slide-more-wrapper {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    
  }
  
  
  /* Показываем при наведении */
  /* .swiper-slide:hover .slide-more {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    color: rgba(117, 87, 255, 1);
    font-size: 18px;
  } */

  .swiper-slide.card:hover .slide-more-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .swiper-slide:hover .slide-more{
    color: rgba(117, 87, 255, 1);
  }
  
  
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
    font-size: 24px;
    z-index: 10;
    cursor: pointer;
    opacity: 1 !important;        /* полностью видимы */
    pointer-events: auto !important; 
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
  
  .swiper-pagination {
    margin-top: 10px;
  }
 
  .card {
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .card img {
    margin: 0;
    padding: 0;
    display: block; /* важно: убирает "пустоту" снизу у inline-элементов */
    max-width: 100%;
    height: auto;
  }
.card p{
  color: rgba(159, 159, 159, 1);
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -4%;
  margin-left: 30px;
  margin-top: 22px;
  
}

.card h2{
font-weight: 500;
font-size: 24px;
line-height: 24px;
letter-spacing: -4%;
margin-left: 30px;
margin-top: 8px;
}

.card a{
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
text-decoration: none;
color: rgba(55, 48, 66, 1);
margin-left: 30px;
margin-top: 8px;

}


@media (max-width: 767px) {
  .swiper-slide.card {
    max-width: 100%;
  }

  .swiper {
    padding: 0 10px;
  }

  .swiper-slide.card {
  margin-left: 60px;
  margin-right: 50px;
  }
  
}
