.hero__content {
  position: absolute;
  top: 296px; 
  left: 160px; 
  /* z-index: 1; */
  max-width: 504px;
  color: white;
}

  .hero__title {
    font-weight: 500;
    font-size: 70px;
    line-height: 59px;
    letter-spacing: -0.02em; 
    width: 504px;
    height: 177px;
    margin-top: 22px;
    
/* 
    white-space: normal; 
    word-break: break-word;
    overflow-wrap: break-word;  */
    
    /* hyphens: auto; */
    
  }
  
  
  
  .hero__phone {
    font-size: 30px;
    font-weight: 500;
    margin-top: 25px;

    font-family: 'Mabry Pro', sans-serif;
    display: inline-block;
    margin-bottom: 23px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    letter-spacing: -0.02em;
    line-height: 30px;
  }

  
  .hero__text {
    font-size: 18px;
    margin-bottom: 32px;
    letter-spacing: -0.02em;
  }
  
  .hero__button {
    display: inline-block;
    padding: 25px 43px;
    background-color: rgba(117, 87, 255, 1);
    color: #fff;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .hero__button:hover {
    background-color: #554c66;
  }
  