.header {
    padding: 40px 0;
    position: relative;
  }
  
  .header__container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 160px;
  
    display: flex;
    align-items: center;
  }
  
  .header__logo img {
    width: 202px;
    height: auto;
  }
  

  .header__nav {
    margin-left: 394px;
    flex-grow: 1;
    margin-top: 8px;
    display: block;
    max-height: none;
    overflow: visible;
    transition: none;
  }
  
  .header__menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    letter-spacing: -2%;
  }
  
  .header__menu-item a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    transition: color 0.3s ease;
  }
  
  .header__menu-item-color a {
    color: rgba(117, 87, 255, 1);
  }
  
  .header__menu-item a:hover {
    color: rgba(117, 87, 255, 1);
  }
  
  .header__actions {
    display: flex;
    gap: 30px;
    margin-top: 8px;
  }
  
  .header__button {
    font-size: 18px;
    font-weight: bold;
    height: 70px;
    padding: 22.5px 40.5px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header__button--outlined {
    border: 2px solid rgba(117, 87, 255, 1);
    color: #000;
    background: transparent;
    width: 216px;
    white-space: nowrap;
    letter-spacing: -2%;
  }
  
  .header__button--filled {
    background-color: rgba(55, 48, 66, 1);
    color: #fff;
    border: none;
    width: 132px;
    letter-spacing: -4%;
  }
  
  .header__button:hover {
    background-color: rgba(55, 48, 66, 1);
    color: rgba(117, 87, 255, 1);
  }
  
  .header__line {
    position: absolute;
    margin-left: 908px;
    margin-top: 2px;
  }
  

  .header__burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 142px;
  }
  .header__burger img{
    width: 60px;
  }
  

  @media (max-width: 1200px) {
    .header__burger {
      display: block;
    }
  
    .header__nav {
      display: none;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      z-index: 1000;
      transition: max-height 0.3s ease;
    }
  
    .header__nav.header__nav--open {
      display: block;
      max-height: 300px;
    }
  
    .header__menu {
      flex-direction: column;
      gap: 20px;
      padding: 15px 30px;
    }
  }
  

  @media (max-width: 768px) {
    .header__container {
      height: 20px; 
      margin-left: -145px;
    }
  
    .header__button {
      display: none;
    }

    .header__nav--open {
      max-height: 500px;
      margin-left: 0px;
      margin-top: 0px;

    }
  
  }