.main {
  overflow: hidden;
  position: relative;
}

.swiper_conteiner{
  display: flex;
  margin-top: 125px;
  margin-bottom: 40px;
  
}

@media (max-width: 768px) {
  .swiper_conteiner {
    flex-direction: column;
  }
}